.about-section {
  height: auto;
  padding: 100px;
  box-sizing: border-box;
  grid-gap: 20px;
  color: #333;
}
.about-text {
  grid-gap: 20px;
  max-width: 80%;
  color: #333;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
}
.about-text h2 {
  letter-spacing: 1px;
  color: #267D33;
}
.about-image {
  max-width: 50%;
}
.about-image img {
  height: 500px;
}

@media (max-width: 768px) {
  .about-section {
    padding: 60px 30px 80px 30px;
    grid-gap: 20px;
  }
  .about-main {
    padding: 0;
  }
  .about-image {
    width: 80%;
  }
  .about-image img {
    height: 300px;
  }
}
