.about-section,
.partenar-section {
  height: auto;
  padding: 100px 0;
  box-sizing: border-box;
  width: 80%;
  grid-gap: 20px;
  color: #333;
}
.about-section {
  border-bottom: #267d33 solid 2px;
}
.about-text,
.partenar-text {
  grid-gap: 20px;
  padding: 0 20px;
  color: #333;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  width: 50%;
}

.image-left img {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.image-right img {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
.about-text h2 {
  letter-spacing: 1px;
  color: #b71810;
}

.title-right h2 {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.title-left h2 {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

img {
  border-radius: 5px;
}
.about-image img {
  height: 500px;
}
a {
  text-decoration: none;
  color: #b71810;
}

@media (max-width: 930px) {
  .about-section,
  .partenar-section {
    padding: 60px 30px 80px 30px;
    grid-gap: 20px;
    width: 100%;
  }
  .about-section {
    border: none;
  }
  .about-text,
  .partenar-text {
    width: 100%;
  }
  .about-main {
    padding: 0;
  }
  .about-image {
    width: 100%;
  }
  .about-image img {
    height: 300px;
  }
  .solo {
    flex-direction: column-reverse;
  }
  .partenar {
    flex-direction: column;
  }
}
