.container-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
  padding-top: 40px;
  padding-bottom: 60px;
  height: auto;
  width: 80%;
  grid-template-areas: 
  "localisation phone"
  "localisation horaire"
  "localisation email";
}
.container-contact div:first-child {
  grid-row: span 3;
}
section h2 {
  font-family: "Helvetica", sans-serif;
  color: #B71810;
  word-spacing: 5px;
  font-size: 30px;
}
.phone,
.localisation,
.email, .horaire {
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 15px;
  grid-gap: 10px;
  text-justify: auto;
  background-color: #DAD7CD;
  border-radius: 15px;
}
.horaire {
  grid-area: horaire;
}
.phone {
  grid-area: phone;
}
.localisation {
  grid-area: localisation;
}
.email {
  grid-area: email;
}
.horaire p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.call-btn {
  text-decoration: none;
  display: inline-block;
  height: 50px;
  width: 220px;
  background-color: #267D33;
  color: white;
  border: none;
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  cursor: pointer;
  padding-top: 5px;
}
.call-btn i {
  margin-right: 10px;
}
iframe {
  width: 100%;
  height: 400px;
}

@media (max-width: 768px) {
  .container-contact {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-template-areas: 
    "horaire"
    "phone"
    "localisation"
    "email";
  }
  .container-contact div:first-child {
    grid-row: span 1;
  }
  iframe {
    width: 100%;
    height: 300px;
  }
}